napari[all]
numpy
scipy
scikit-image
matplotlib
jupyter
opencv-python
aicsimageio[nd2]>=4.0
nd2reader
xlsxwriter
pyvista>=0.43
simpleitk
tensorflow>=2.16,<2.17
csbdeep
stardist
meshio
tetgen<0.7; python_version < "3.10"
tetgen>=0.7; python_version >= "3.10"
meshlib
pandas
vispy
reportlab
Pillow
